@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
/* 웹폰트 링크연결 */
*{margin: 0; padding: 0;}
ul,ol{
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    min-width: 1400px;
    padding-top: 100px;
}

/*header*/
#fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100px;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(90, 90, 90, 0.1);
}

.link_wrap{
    position: relative;
    height: 30px;
    width: 1320px;
    margin: 0 auto;
}

#link{
    position: absolute;
    top: 2px;
    right: 0;
}

#link li{
    float: left;
}

#link li a{
    display: inline-block;
    vertical-align: middle;
    color: #999;
    font-size: 14px;
}

#link li::before{
    content: "";
    display: inline-block;
    width: 2px;
    height: 12px;
    background-color: #999;
    vertical-align: middle;
    margin: 0 15px;
}

#link li:nth-child(1)::before{
    display: none;
}

header{
    margin: 0 auto;
    width: 1320px;
    height: 70px;
    position: relative;
    text-align: center;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
}

.sponsor_btn{
    position: absolute;
    top: 10px;
    right: 0;
    display: block;
    width: 125px;
    height: 45px;
    background-color: #1F1FB3;
    border-radius: 23px;
    text-align: center;
    font-weight: bold;
    padding: 8px 0;
    box-sizing: border-box;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.sponsor_btn a{
    color: #fff;
}

.glasses_blue{
    position: absolute;
    top: 25px;
    right: 140px;
}

#gnb{
    display: inline-block;
    margin-top: 30px;    
}

#gnb li{
    float: left;
}

#gnb li a{
    display: block;
    color: #1F1FB3;
    font-weight: bold;
    padding: 0 15px 13px;
    margin: 0 20px;
}

#gnb li:hover a{
    border-bottom: 3px solid #1F1FB3;
}

/*modal_popup*/
.modal{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.popup{
    width: 650px;
    margin: 0 auto;
    height: 30px;
    border-bottom: 2px solid rgba(255, 255, 255);
    padding: 35px 5px;
    margin-top: 200px;
    box-sizing: border-box;
    position: relative;
}

.glasses_white{
    position: absolute;
    top: 38px;
    right: 10px;
}

.popup input{
    border: none;
    outline: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    font-size: 25px;
}

.close_btn{
    position: absolute;
    top: 30px;
    right: 30px;
}

/*visual*/
#visual{
    background: url(../images/activity/main_banner.jpg) no-repeat center;
    height: 750px;
}

.visual_text_wrap{
    margin: 0 auto;
    width: 1320px;
    padding-top: 260px;
}

.visual_text1{
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.visual_text2{
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    margin: 70px 0 80px;
}

.visual_text2 span{
    background-color: #fff;
    color: #FFAA3B;
}

.visual_text3{
    font-size: 25px;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}


/*section1*/
#section1_wrap{
    background: url(../images/activity/section1_bg.jpg) no-repeat center;
    width: 100%;
    margin: 0 auto;
    height: 2220px;
    padding-top: 150px;
    box-sizing: border-box;
}

#section1{
    width: 1320px;
    margin: 0 auto;
}

.contents1{
    height: 530px;
}

.contents1_left{
    float: left;
    width: 660px;
    height: 100%;
}

.contents1_right{
    float: right;
    width: 660px;
    height: 100%;
    padding-left: 30px;
    box-sizing: border-box;
}

.contents1_right img{
    transform: scale(1);
    transition: transform 2s;
}

.contents1_right:hover img{
    transform: scale(1.1);
}

.contents1_left p{
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.contents1_left h1{
    font-size: 55px;
    font-weight: 900;
    color: #1F1FB3;
    margin: 25px 0 100px;
}

.list{
    display: flex;
    width: 620px;
    height: 65px;
    background-color: #1F1FB3;
    border-radius: 0 40px 40px 0;
    margin-bottom: 18px;
    color: #fff;
    padding: 20px 0 20px 25px;
    box-sizing: border-box;
}

.list dt{
    font-size: 22px;
    font-weight: bold;
}

.list dd{
    font-size: 18px;
    margin-left: 30px;
}

.contents2{
    height: 465px;
}

.contents2_left_wrap{
    float: left;
    width: 660px;
    height: 465px;
    padding-top: 75px;
    position: relative;
}
.contents2_right_wrap{
    float: right;
    width: 660px;
    height: 465px;
    padding-top: 75px;
    position: relative;
}

.circle1, .circle2{
    background-color: #1F1FB3;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 25px 0;
    box-sizing: border-box;
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -40px;
}

.contents2_left, .contents2_right{
    width: 630px;
    height: 390px;
    background-color: #fff;
    border-radius: 150px 150px 0 0;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 75px 64px;
    box-sizing: border-box;
}

.contents2_title{
    font-size: 30px;
    font-weight: 700;
}

.contents2_title span{
    color: #FFAA3B;
}

.contents2_distance{
    margin: 40px 0 35px;
}

.contents3{
    height: 845px;
    position: relative;
    margin-top: 80px;
    color: #fff;
    overflow: hidden;
}

.contents3_left{
    width: 690px;
    height: 760px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.contents3_left img{
    border-radius: 100px 0 0 0;
}

.contents3_right{
    width: 690px;
    height: 760px;
    background-color: #1F1FB3;
    position: absolute;
    top: 85px;
    right: 0;
    border-radius: 0 0 100px 0;
    padding: 60px 0 0 120px;
    box-sizing: border-box;
    line-height: 35px;
}

.contents3_text1{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.contents3_text2{
    font-size: 20px;
}

.contents3_text3{
    font-size: 20px;
    margin: 65px 0 30px;
}

.contents3_text3 span{
    color: #FFAA3B;
    font-weight: bold;
}

.contents3_right h1{
    font-size: 55px;
    font-weight: bold;
    margin: 20px 0 55px;
}

.contents3_right dl{
    display: flex;
}

.contents3_right dt{
    background-color: #fff;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding: 0 20px;
    margin-right: 15px;
}


/*section2*/
#section2{
    background: url(../images/activity/middle_banner.jpg) no-repeat center;
    height: 830px;
    text-align: center;
    padding-top: 200px;
    box-sizing: border-box;
    line-height: 40px;
}

#section2 h1{
    font-size: 135px;
    font-weight: 900;
    color: #1F1FB3;
    margin-bottom: 100px;
    text-shadow: 2px 4px 7px rgba(0, 0, 0, 0.2);
}

#section2 p{
    font-size: 22px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.1);
}

#section2 p span{
    font-weight: 800;
    color: #000;
}

.section2_distance{
    margin: 25px 0 90px;
}

.section2_btn{
    display: inline-block;
    border: 3px solid #1F1FB3;
    border-radius: 40px;
    font-size: 22px;
    font-weight: 900;
    color: #1F1FB3;
    background-color: #fff;
    padding: 6px 35px 10px;
}

.section2_btn:hover{
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.1);
}


/*section3*/
#section3{
    width: 1320px;
    height: 1634px;
    padding-top: 100px;
    box-sizing: border-box;
    margin: 0 auto;
}

.text_overline_blue{
    width: 40px;
    height: 5px;
    margin-bottom: 15px;
    background-color: #1F1FB3;
}

#section3 h1{
    font-size: 40px;
    font-weight: bold;
    color: #000;
}

.effort_wrap{
    height: 1430px;
    margin-top: 40px;
}

.effort_wrap img{
    display: block;
}

.effort_wrap li{
    float: left;
    width: 660px;
    height: 710px;
}

.effort_title{
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 20px;
}

.effort_title span{
    background-color: #1F1FB3;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 3px;
    box-sizing: border-box;
    display: inline-block;
}

.effort_text_box{
    width: 660px;
    height: 280px;
    line-height: 30px;
    padding: 35px;
    box-sizing: border-box;
}


/*bottom_link*/
#bottom_link{
    width: 1320px;
    margin: 0 auto;
    height: 190px;
    padding: 100px 0 50px;
}

a.question_box{
    float: left;
    display: block;
    position: relative;
    color: #fff;
}

.bottom_link_text{
    position: absolute;
    top: 40px;
    left: 50px;
}

a.sponsor_box{
    float: right;
    display: block;
    position: relative;
    color: #fff;
}

.bottom_title{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 25px;
}

.link_btn{
    position: absolute;
    top: 80px;
    right: 50px;
}

.question_bg{
    filter: brightness(1);
}

.question_box:hover .question_bg{
    filter: brightness(0.7);
}

.sponsor_bg{
    filter: brightness(1);
}

.sponsor_box:hover .sponsor_bg{
    filter: brightness(0.7);
}


/*footer*/
#footer_wrap{
    background-color: #333;
    height: 300px;
}

.footer1_wrap{
    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
}

.footer_link{
    margin: 0 auto;
    width: 1320px;
    padding-top: 10px;
}

.footer_link li{
    float: left;
}

.footer_link li::before{
    content: "";
    display: inline-block;
    width: 2px;
    height: 14px;
    margin-right: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    vertical-align: middle;
}

.footer_link li a{
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.3);
    margin-right: 15px;
} 

.footer_link li a:hover{
    color: rgba(255, 255, 255);
}

.footer_link li:nth-child(1)::before{
    display: none;
}

.footer2{
    height: 250px;
    width: 1320px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.4);
    padding-top: 50px;
    box-sizing: border-box;
}

.footer_text{
    float: left;
    width: 990px;
    padding-left: 150px;
    box-sizing: border-box;
    font-size: 15px;
    background: url(../images/common/footer_logo.png) no-repeat left top 40px;
}

.footer_icon{
    float: right;
    width: 330px;
}

.footer_text ul{
    overflow: hidden;
    margin: 7px 0;
}

.footer_text h1{
    color: #fff;
    font-size: 25px;
    margin-bottom: 30px;
}

.footer_text ul li{
    float: left;
    margin-right: 10px;
}

.footer_icon{
    float: right;
}

.sns_icon li{
    float: left;
}

.sns_icon li a{
    display: block;
    opacity: 0.5;
    margin-left: 5px;
}

.sns_icon li a:hover{
    opacity: 1;
}
